/*---Mestre Meyer, Evette - #2457636 - WIU, Sec 1, Assignment: Usability Testing & Landing Page---*/

/* Colors:
Dk Beige: #D9C3AE;
Lt Beige: #E3DAD3;
-for blues below:  https://kuler.adobe.com/Emailing-SafariCreatePDF-color-theme-3609432/   
DK Blue: #264F73;
Md Blue: #336A99;
Lt Blue: #4996D9;
Orange: #BF6734;
/*-------------------------------------------  general -------------------------------------------------------*/
body{
	font-size: 62.5%;
	font-family: helvetica, arial, sans-serif;
	margin-top: 0;
	background: #264f73; /* Old browsers */
	background: -moz-linear-gradient(top, #264f73 0%, #336a99 26%, #336a99 44%, #336a99 53%, #336a99 59%, #336a99 75%, #264f73 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#264f73), color-stop(26%,#336a99), color-stop(44%,#336a99), color-stop(53%,#336a99), color-stop(59%,#336a99), color-stop(75%,#336a99), color-stop(100%,#264f73)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #264f73 0%,#336a99 26%,#336a99 44%,#336a99 53%,#336a99 59%,#336a99 75%,#264f73 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #264f73 0%,#336a99 26%,#336a99 44%,#336a99 53%,#336a99 59%,#336a99 75%,#264f73 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #264f73 0%,#336a99 26%,#336a99 44%,#336a99 53%,#336a99 59%,#336a99 75%,#264f73 100%); /* IE10+ */
	background: linear-gradient(to bottom, #264f73 0%,#336a99 26%,#336a99 44%,#336a99 53%,#336a99 59%,#336a99 75%,#264f73 100%); /* W3C */
}
	
#wrapper{
	width:960px;
	margin: 0 auto;
	padding-left: 2%;
	padding-right:2%;
	color:#545257; /*changes color of the whole text*/
	background: #d9c3ae; /* Old browsers */
	background: -moz-linear-gradient(top, #d9c3ae 0%, #e3dad3 17%, #e3dad3 44%, #e2dcd7 53%, #e3dad3 59%, #e3dad3 86%, #d9c3ae 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9c3ae), color-stop(17%,#e3dad3), color-stop(44%,#e3dad3), color-stop(53%,#e2dcd7), color-stop(59%,#e3dad3), color-stop(86%,#e3dad3), color-stop(100%,#d9c3ae)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d9c3ae 0%,#e3dad3 17%,#e3dad3 44%,#e2dcd7 53%,#e3dad3 59%,#e3dad3 86%,#d9c3ae 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d9c3ae 0%,#e3dad3 17%,#e3dad3 44%,#e2dcd7 53%,#e3dad3 59%,#e3dad3 86%,#d9c3ae 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d9c3ae 0%,#e3dad3 17%,#e3dad3 44%,#e2dcd7 53%,#e3dad3 59%,#e3dad3 86%,#d9c3ae 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d9c3ae 0%,#e3dad3 17%,#e3dad3 44%,#e2dcd7 53%,#e3dad3 59%,#e3dad3 86%,#d9c3ae 100%); /* W3C */
	border-bottom-right-radius: 45px;
	border-top-left-radius: 45px;
}
/*-------------------------------------------  header -------------------------------------------------------*/

header{
	border-bottom: 1px solid #264F73; /*changes color of border under project name*/
	height: 175px;
}

h1{
	font-family: 'Kaushan Script', cursive;
	margin-top: 0;
	font-size: 400%;
	color: #264F73; 
	letter-spacing: .10em;
}
h2{
	margin-top: 20px;
	color: #264F73; 
	font-size: 175%;
}
/*-------------------------------------------  table -------------------------------------------------------*/
table{
	/*background: #f7f7f9;  changes color of the background of the table*/
	border-spacing: 10px;
	width: 100%;
	margin: 0px auto 0px auto;
	color: #264F73;
	 
}

tr{
	display: table-row;
	text-transform: uppercase;
	color: #264F73;
}

.odd, .even {
	background: #a4c6e3; /* Old browsers */
	background: -moz-linear-gradient(top, #a4c6e3 0%, #a4c6e3 9%, #c0d3e2 31%, #c0d3e2 53%, #c0d3e2 70%, #a4c6e3 89%, #a4c6e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4c6e3), color-stop(9%,#a4c6e3), color-stop(31%,#c0d3e2), color-stop(53%,#c0d3e2), color-stop(70%,#c0d3e2), color-stop(89%,#a4c6e3), color-stop(100%,#a4c6e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a4c6e3 0%,#a4c6e3 9%,#c0d3e2 31%,#c0d3e2 53%,#c0d3e2 70%,#a4c6e3 89%,#a4c6e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a4c6e3 0%,#a4c6e3 9%,#c0d3e2 31%,#c0d3e2 53%,#c0d3e2 70%,#a4c6e3 89%,#a4c6e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a4c6e3 0%,#a4c6e3 9%,#c0d3e2 31%,#c0d3e2 53%,#c0d3e2 70%,#a4c6e3 89%,#a4c6e3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a4c6e3 0%,#a4c6e3 9%,#c0d3e2 31%,#c0d3e2 53%,#c0d3e2 70%,#a4c6e3 89%,#a4c6e3 100%); /* W3C */	
}

th{
	text-align: left;
	padding: 1em 1em 1em 2em;
	font-weight: bold;
	font-size: 130%;
	color: white;  /*changes color of table hd text*/
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #264f73; /* Old browsers */
	background: -moz-linear-gradient(top, #264f73 0%, #336a99 26%, #336a99 44%, #336a99 53%, #336a99 59%, #336a99 75%, #264f73 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#264f73), color-stop(26%,#336a99), color-stop(44%,#336a99), color-stop(53%,#336a99), color-stop(59%,#336a99), color-stop(75%,#336a99), color-stop(100%,#264f73)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #264f73 0%,#336a99 26%,#336a99 44%,#336a99 53%,#336a99 59%,#336a99 75%,#264f73 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #264f73 0%,#336a99 26%,#336a99 44%,#336a99 53%,#336a99 59%,#336a99 75%,#264f73 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #264f73 0%,#336a99 26%,#336a99 44%,#336a99 53%,#336a99 59%,#336a99 75%,#264f73 100%); /* IE10+ */
	background: linear-gradient(to bottom, #264f73 0%,#336a99 26%,#336a99 44%,#336a99 53%,#336a99 59%,#336a99 75%,#264f73 100%); /* W3C */
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
	
}
th:first-child{
	/*border-right: 1px solid #6a7680;*/
}
td{
	padding: 1em 1em 1em 2em;
	width: 60%;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
	margin: 2px;
}
td:first-child{
	/*border-right: 1px solid #6a7680;*/
}

.odd:hover, .even:hover {
	color: #BF6734;
	text-decoration: none;
	font-weight: bold;
	font-size: 120%;
}
/*-------------------------------------------  top section-------------------------------------------------------*/
.main{

	overflow: auto;
	/*border-bottom: 1px solid #bbb8bf;*/
}
.main p{
	width: 67.5%;
	float: left;
	font-size: 1.4em;

}
.main figure{
	float: right;
	margin: 15px 0 15px 0;
	width: 30%;

}
figure img{
	width: 100%;
	-moz-box-shadow: -5px -5px #264F73;
	-webkit-box-shadow: -5px -5px #264F73;
	box-shadow:  -5px -5px #264F73;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
}

figcaption {
	color: #4996D9;
	font-size: 125%;
	padding: .5em;
}
.sec{
	clear: both;
	margin-top: 40px;
	
}

/*-------------------------------------------  links -------------------------------------------------------*/
a{
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	color: #475a80;  /*changes color of the links*/
}
a:hover{
	text-decoration: none;
}
/*-------------------------------------------  footer-------------------------------------------------------*/
footer{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
	width: 90%;
}
/* ------------------------------------------- Media Queries -------------------------------------------------------*/


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#wrapper{
			width:98%;
		}	
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		#wrapper{
			width:98%;

		}
		.main figure{
			width: 35%;
		}
		.main figure img{
			width: 100%;	
		}
		.main p{
			width: 60%;	
		}
		td{
			width: 50%;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#wrapper{
			width: 95%;
	
		}
		.main, header, h2{
			padding-left: 1%;
			padding-right: 1%;
		}
		.main figure{
			width: 100%;
			float: right;
		}
		.main p{
			width: 98%;
		}
		.main figure img{
			width: 100%;
		}
		td{
			width: 50%;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#wrapper{
			width: 98%;
			min-width: 480px;
			max-width: 767px;
		}
		.main p{
			width: 100%;
		}
		td{

			width: 50%;
		}
	}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#wrapper{
			width: 96%;
		}
		figure {
			display: none;
		}
		figcaption{
			display: none;
		}
		.sec{
			margin-top: 10px;
		}
		tr{
			height: 44px;
			line-height: 44px;
		}
		td{
			width: 50%;
			
		}
	}


